MONGODB_USERNAME="kaushikgunjkar143_db_user"
MONGODB_PASSWORD="AXUi5onzR7f006W0"
MONGODB_URI="mongodb+srv://kaushikgunjkar143_db_user:AXUi5onzR7f006W0@cluster0.rh5doig.mongodb.net/?retryWrites=true&w=majority"
SECRET_KEY="generate_a_random_string_here_for_flask_sessions"